TWILIO_ACCOUNT_SID=your_twilio_sid_here
TWILIO_AUTH_TOKEN=your_twilio_token_here
TWILIO_NO=+1234567890
MY_NO=+0987654321
SHEETY_API_TOKEN=your_sheety_token_here
SHEETY_FLIGHT_API=your_sheety_flight_url
SHEETY_USER_API=your_sheety_user_url
SERP_API_KEY=your_serp_api_key_here
EMAIL_PROVIDER_SMTP_ADDRESS=smtp.gmail.com
EMAIL_ID=your_email@gmail.com
EMAIL_PASS=your_app_password